<a href="https://colab.research.google.com/github/caveligh/Colab_Projects/blob/main/Trabajo_final_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install investpy

Collecting investpy
  Downloading investpy-1.0.7.tar.gz (4.4 MB)
     |████████████████████████████████| 4.4 MB 33.0 MB/s
Collecting Unidecode>=1.1.1
  Downloading Unidecode-1.3.2-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 54.2 MB/s
Requirement already satisfied: setuptools>=41.2.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (57.4.0)
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.19.5)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.1.5)
Collecting lxml>=4.4.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 60.1 MB/s
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (2.23.0)
Collecting pytz>=2019.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
     |████████████████████████████████| 503 kB 61.2 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.1->investpy) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->investpy) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2.10)
Building wheels for collected packages: investpy
  Building wheel for investpy (setup.py) ... done
  Created wheel for investpy: filename=investpy-1.0.7-py3-none-any.whl size=4495221 sha256=e31a977ec129b7da88942c9671767b0f5500d6c5d8122dcff1801ffc6c5fcd3b
  Stored in directory: /root/.cache/pip/wheels/50/bb/ee/760eeb6cc7ed8efc1b1b23b13b6b9f17fb1ed530fb04bd16f5
Successfully built investpy
Installing collected packages: pytz, Unidecode, lxml, investpy
  Attempting uninstall: pytz
    Found existing installation: pytz 2018.9
    Uninstalling pytz-2018.9:
      Successfully uninstalled pytz-2018.9
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed Unidecode-1.3.2 investpy-1.0.7 lxml-4.6.3 pytz-2021.3

In [ ]:
#Paquetes

import pandas as pd
import numpy as np
from datetime import datetime
import investpy

In [40]:


PRECIOS = investpy.get_currency_cross_historical_data(currency_cross='GBP/USD', from_date='03/01/2000', to_date= '18/10/2021')
PRECIOS = PRECIOS.drop(["Currency"],axis=1)
PRECIOS

              Open    High     Low   Close
Date
2000-01-03  1.6143  1.6397  1.6143  1.6370
2000-01-04  1.6363  1.6415  1.6315  1.6370
2000-01-05  1.6355  1.6452  1.6354  1.6420
2000-01-06  1.6422  1.6513  1.6413  1.6468
2000-01-07  1.6469  1.6500  1.6362  1.6387
...            ...     ...     ...     ...
2021-10-12  1.3599  1.3638  1.3569  1.3585
2021-10-13  1.3588  1.3665  1.3576  1.3659
2021-10-14  1.3657  1.3736  1.3654  1.3673
2021-10-15  1.3673  1.3774  1.3667  1.3749
2021-10-18  1.3751  1.3766  1.3708  1.3725

[5684 rows x 4 columns]

In [41]:
# IMPORTAR CSV 

IPC_EEUU = pd.read_csv("/content/drive/MyDrive/Colab/IPCEE_UU.csv")
IPC_GBP = pd.read_csv("/content/drive/MyDrive/Colab/IPC_GBP.csv")
IPP_EEUU = pd.read_csv("/content/drive/MyDrive/Colab/IPPUSA.csv")
IPP_GBP = pd.read_csv("/content/drive/MyDrive/Colab/IPPGBP.csv")
UNEM_EEUU = pd.read_csv("/content/drive/MyDrive/Colab/UNEM_USA.csv")
UNEM_GBP = pd.read_csv("/content/drive/MyDrive/Colab/UNEMGBP.csv")


#IPC_EEUU = pd.read_csv('IPCEE_UU.csv')
#IPC_GBP = pd.read_csv('IPC_GBP.csv')
#IPP_EEUU = pd.read_csv('IPPUSA.csv')
#IPP_GBP = pd.read_csv('IPPGBP.csv')
#UNEM_EEUU = pd.read_csv('UNEM_USA.csv')
#UNEM_GBP = pd.read_csv('UNEMGBP.csv')

In [42]:
IPC_EEUU.head()

         Date actual anterior
0  11.08.2021   0,5%     0,9%
1  13.07.2021   0,9%     0,6%
2  10.06.2021   0,6%     0,8%
3  12.05.2021   0,8%     0,6%
4  13.04.2021   0,6%     0,4%

# Limpieza de datos

In [43]:
IPC_EEUU[['actual', 'anterior']] = IPC_EEUU[['actual','anterior']].replace('[\%,]', '', regex=True).astype(float) 
IPC_EEUU[['actual', 'anterior']] = IPC_EEUU[['actual', 'anterior']].fillna(0) 

IPC_GBP[['actual', 'anterior']] = IPC_GBP[['actual','anterior']].replace('[\%,]', '', regex=True).astype(float) 
IPC_GBP[['actual', 'anterior']] = IPC_GBP[['actual', 'anterior']].fillna(0) 


IPP_EEUU[['actual', 'anterior']] = IPP_EEUU[['actual','anterior']].replace('[\%,]', '', regex=True).astype(float) 
IPP_EEUU[['actual', 'anterior']] = IPP_EEUU[['actual', 'anterior']].fillna(0) 


IPP_GBP[['actual', 'anterior']] = IPP_GBP[['actual','anterior']].replace('[\%,]', '', regex=True).astype(float) 
IPP_GBP[['actual', 'anterior']] = IPP_GBP[['actual', 'anterior']].fillna(0) 


UNEM_EEUU[['actual', 'anterior']] = UNEM_EEUU[['actual','anterior']].replace('[\%,]', '', regex=True).astype(float) 
UNEM_EEUU[['actual', 'anterior']] = UNEM_EEUU[['actual', 'anterior']].fillna(0) 


UNEM_GBP[['actual', 'anterior']] = UNEM_GBP[['actual','anterior']].replace('[\%,]', '', regex=True).astype(float) 
UNEM_GBP[['actual', 'anterior']] = UNEM_GBP[['actual', 'anterior']].fillna(0)

In [ ]:
#CHECK

IPC_EEUU,IPC_GBP,IPP_EEUU,IPP_GBP,UNEM_EEUU,UNEM_GBP

In [44]:
IPC_EEUU['actual']=IPC_EEUU['actual']/100
IPC_EEUU['anterior']=IPC_EEUU['anterior']/100


IPC_GBP['actual']=IPC_GBP['actual']/100
IPC_GBP['anterior']=IPC_GBP['anterior']/100


IPP_EEUU['actual']=IPP_EEUU['actual']/100
IPP_EEUU['anterior']=IPP_EEUU['anterior']/100


IPP_GBP['actual']=IPP_GBP['actual']/100
IPP_GBP['anterior']=IPP_GBP['anterior']/100


UNEM_EEUU['actual']=UNEM_EEUU['actual']/100
UNEM_EEUU['anterior']=UNEM_EEUU['anterior']/100


UNEM_GBP['actual']=UNEM_GBP['actual']/100
UNEM_GBP['anterior']=UNEM_GBP['anterior']/100

In [ ]:
#CHECK

IPC_EEUU,IPC_GBP,IPP_EEUU,IPP_GBP,UNEM_EEUU,UNEM_GBP

In [ ]:
# PRUEBA ARREGLO FECHAS
#IPC_EEUU.reset_index(0).reset_index(drop=True)
#PRECIOS['Date'] = pd.to_datetime(pd.Series(PRECIOS["Date"])) 
PRECIOS.dtypes


#IPC_EEUU[['actual', 'anterior']] = IPC_EEUU[['actual', 'anterior']].fillna(0) 
#IPC_EEUU[['actual', 'anterior']] = IPC_EEUU[['actual','anterior']].replace('[\%,]', '', regex=True).astype(int) 
#IPC_EEUU['Date'] = pd.to_datetime(pd.Series(IPC_EEUU["Date"])) 
#IPC_EEUU['Date'] = IPC_EEUU['Date'].astype(str).astype(int) 
#IPC_EEUU
#IPC_EEUU.astype(str).astype(int)
#PRECIOS.dtypes

Open     float64
High     float64
Low      float64
Close    float64
dtype: object

In [45]:
IPC_EEUU["Date"] = pd.to_datetime(pd.Series(IPC_EEUU["Date"])) 
IPC_EEUU = IPC_EEUU.set_index('Date')

IPC_GBP["Date"] = pd.to_datetime(pd.Series(IPC_GBP["Date"])) 
IPC_GBP = IPC_GBP.set_index('Date')

IPP_EEUU["Date"] = pd.to_datetime(pd.Series(IPP_EEUU["Date"])) 
IPP_EEUU = IPP_EEUU.set_index('Date')

IPP_GBP["Date"] = pd.to_datetime(pd.Series(IPP_GBP["Date"])) 
IPP_GBP = IPP_GBP.set_index('Date')

UNEM_EEUU["Date"] = pd.to_datetime(pd.Series(UNEM_EEUU["Date"])) 
UNEM_EEUU = UNEM_EEUU.set_index('Date')

UNEM_GBP["Date"] = pd.to_datetime(pd.Series(UNEM_GBP["Date"])) 
UNEM_GBP = UNEM_GBP.set_index('Date')

In [ ]:
#CHECK

IPC_EEUU,IPC_GBP,IPP_EEUU,IPP_GBP,UNEM_EEUU,UNEM_GBP

# MATRIZ

In [80]:
#PRECIOS = PRECIOS.reset_index(drop=True)
IPC_EEUU.head()
IPC_EEUU.to_csv("/content/drive/MyDrive/Colab/graphs/salida.csv")

   level_0  index       Date  actual  anterior
0        0      0 2021-11-08    0.05      0.09
1        1      1 2021-07-13    0.09      0.06
2        2      2 2021-10-06    0.06      0.08
3        3      3 2021-12-05    0.08      0.06
4        4      4 2021-04-13    0.06      0.04

In [75]:
# MERGE
matriz_x =  pd.merge(PRECIOS, IPC_EEUU , how='left',on = 'Date') 
#matriz_x =  pd.merge(matriz_x, IPC_GBP , how='left', on = 'Date')
#matriz_x =  pd.merge(matriz_x, IPP_EEUU , how='left', on = 'Date')
#matriz_x =  pd.merge(matriz_x, IPP_GBP , how='left', on = 'Date')
#matriz_x =  pd.merge(matriz_x, UNEM_EEUU , how='left', on = 'Date')
#matriz_x =  pd.merge(matriz_x, UNEM_GBP , how='left', on = 'Date')
matriz_x.head(15)
#IPC_EEUU,IPC_GBP,IPP_EEUU,IPP_GBP,UNEM_EEUU,UNEM_GBP


#matriz_x = pd.merge(matriz_x, matriz_0 , how='left', on = 'Date')
#matriz_x = matriz_x.fillna(0)
#matriz_x.sort_values('Date')

#PRECIOS['actual']=0
#PRECIOS['prevision'] = 0
#PRECIOS.loc[PRECIOS['Date'].isin(IPC_EEUU['Date']),'actual'] = IPC_EEUU['actual']
#IPC_EEUU.loc[date == PRECIOS['Date'],'actual']

              Open    High     Low   Close  actual  anterior
Date
2000-01-03  1.6143  1.6397  1.6143  1.6370     0.4       0.0
2000-01-04  1.6363  1.6415  1.6315  1.6370     0.6       0.0
2000-01-05  1.6355  1.6452  1.6354  1.6420    -0.1       0.0
2000-01-06  1.6422  1.6513  1.6413  1.6468     0.2       0.0
2000-01-07  1.6469  1.6500  1.6362  1.6387     0.6       0.0
2000-01-10  1.6390  1.6397  1.6327  1.6370     0.5       0.0
2000-01-11  1.6370  1.6499  1.6360  1.6485     0.2       0.0
2000-01-12  1.6468  1.6514  1.6452  1.6478     0.2       0.0
2000-01-13  1.6469  1.6503  1.6411  1.6467     NaN       NaN
2000-01-14  1.6480  1.6480  1.6329  1.6340     NaN       NaN
2000-01-17  1.6350  1.6390  1.6296  1.6332     NaN       NaN
2000-01-18  1.6336  1.6391  1.6317  1.6370     NaN       NaN
2000-01-19  1.6377  1.6454  1.6362  1.6440     NaN       NaN
2000-01-20  1.6450  1.6573  1.6418  1.6545     NaN       NaN
2000-01-21  1.6545  1.6583  1.6480  1.6494     NaN       NaN

In [72]:
df = matriz_x.reset_index(0).reset_index(drop=True)

filtro = (df['Date'] == "2020-04-13")
after_start_date = df.loc[filtro]
print(after_start_date)
#IPC_EEUU.head(15)
#IPC_EEUU.loc[IPC_EEUU['Date'].isin(PRECIOS['Date']), 'actual']

           Date    Open    High    Low   Close  actual  anterior
5288 2020-04-13  1.2464  1.2537  1.245  1.2507     NaN       NaN

In [ ]:
IPC_EEUU['Date'].values[0]

numpy.datetime64('2021-11-08T00:00:00.000000000')

In [48]:
PRECIOS.tail()

              Open    High     Low   Close
Date
2021-10-12  1.3599  1.3638  1.3569  1.3585
2021-10-13  1.3588  1.3665  1.3576  1.3659
2021-10-14  1.3657  1.3736  1.3654  1.3673
2021-10-15  1.3673  1.3774  1.3667  1.3749
2021-10-18  1.3751  1.3766  1.3708  1.3725

In [49]:
PRECIOS.head()

              Open    High     Low   Close
Date
2000-01-03  1.6143  1.6397  1.6143  1.6370
2000-01-04  1.6363  1.6415  1.6315  1.6370
2000-01-05  1.6355  1.6452  1.6354  1.6420
2000-01-06  1.6422  1.6513  1.6413  1.6468
2000-01-07  1.6469  1.6500  1.6362  1.6387

In [ ]:
PRECIOS.head()

#matriz_x =  pd.merge(PRECIOS, IPC_EEUU , how='left', on = 'Date') 


# IPC_EEUU,IPC_GBP,IPP_EEUU,IPP_GBP,UNEM_EEUU,UNEM_GBP
#matriz_x

              Open    High     Low   Close
Date
2000-01-03  1.6143  1.6397  1.6143  1.6370
2000-01-04  1.6363  1.6415  1.6315  1.6370
2000-01-05  1.6355  1.6452  1.6354  1.6420
2000-01-06  1.6422  1.6513  1.6413  1.6468
2000-01-07  1.6469  1.6500  1.6362  1.6387